body{
    font-family: 'Lobster Two';
    font-size: 1.0rem;
}

.main-wrapper{
    margin: 0 auto;
    max-width: 25rem;
    margin-left: 4rem;
}

h1{
    text-align: center;
    text-transform: uppercase;
}

.fas{
    margin-right: 1rem;
}

#trash{
    display: none;
}

.list-items span, 
.list-items li{
    cursor:pointer;
}

li{
    list-style-type: none;
    padding: 0.3rem;
}

button{
    color: black;
    padding: 0.5rem;
    border: 2px solid aqua;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    background-color: white;
    margin-bottom: 8rem;
    font-family: 'Lobster Two';
}


  
   

    



.clear{
    margin-top: 4rem;
    margin-left: 3rem;
}

#text-box{
    width: 70%;
    padding: 16px 20px;
    border: none;
    border: 2px solid aqua;
    border-radius: 0.3rem;
    margin: 8px 0;
    font-family: 'Lobster Two';
}

.line-through{
    text-decoration: line-through;
}


@media only screen and (min-width:961px){
    /* large screen */
    body{
        font-size: 1.5rem;
    }

    li{
        padding: 0.5rem;
    }

    .main-wrapper{
        max-width: 50rem;
        margin-left: 25rem;
    }

    button{
        bottom: 70px;
        font-size: 2.0rem;
    }

    #buttons{
        margin-left: 15rem;
    }

    #text-box{
        font-size: 1.5rem;
    }
}
